<% 
    const d=new Date() 
    let year=d.getFullYear() 
%>

    <footer>
        <ul>
            <li>
                <a href="/inv/type/5984" class="nav-link">500-type error</a>
            </li>
        </ul><br><br>
        <p class="copyright">&copy; <%= year%>, CSE 340 App</p>
    </footer>

    <!-- 
    - custom js link
  -->
    <script src="/js/script.js"></script>