<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page" id="logo">
      <img src="/images/site/cse-motors-logo-transparent.webp" width="150" alt="CSE Motors" class="logo">
    </a>
  </span>

  <div id="tools">
    <% if (accountData) { %>
      <!-- When logged in -->
      <a href="/account/" class="welcome-badge" title="Go to your dashboard">
        👋 Hi, <%= accountData.account_firstname %>!
      </a>
      <a href="/account/logout" class="logout-btn" title="Log out of your account">
        Logout
      </a>
    <% } else { %>
      <!-- When not logged in -->
      <a href="/account/login" class="login-link" title="Click to log in">
        My Account
      </a>
    <% } %>
  </div>
</header>
