<header id="top-header">
    <span class="siteName">
        <a href="/" title="Return to home page" id="logo">
            <img src="/images/site/cse-motors-logo-transparent.webp" width="150" alt="CSE Motors">
        </a>
    </span>
    <div id="tools">
        <a href="/account/login" title="Click to log in">My Account</a>
    </div>
</header>