<nav class="nav-bar show">
    <!-- Call dynamic nav bar from baseController -->
    <%- nav %>
    
    <!-- Static nav bar -->
    <!-- <button id="ham-btn" class="hamburger" aria-label="hamburgerMenu"></button>
    <ul>
        <li aria-label="homeMenu"><a href="/">Home</a></li>
        <li aria-label="customeMenu"><a href="/custom">Custom</a></li>
        <li aria-label="sedanMenu"><a href="/sedan">Sedan</a></li>
        <li aria-label="suvMenu"><a href="/suv">SUV</a></li>
        <li aria-label="truckMenu"><a href="/truck">Truck</a></li> 
    </ul> -->

    
</nav>


