<nav class="navbar">
    <%-
        // nav %>

        <div class="hambmenu">
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
</nav>