<!-- Display page title -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <!-- If no title available, then redirect to home page -->
<% } else { res.redirect('/') } %>

<!-- Flash message (if any) -->
<% if (messages && messages.length> 0) { %>
<div class="flash-message">
    <% messages.forEach(function(message){ %>
        <p>
            <%= message %>
        </p><br>
        <% }) %>
</div>
<% } %>

<!-- This is the main content to be displayed in the view -->
<section>
<div class="form-container">
    <div class="form-card">
        <h2>Please fill out this form to add a new classification</h2><hr> 

        <form class="account-form" action="" method="POST">
            <label for="classification_name">Classification Name</label>
            <input type="text" id="classification_name" name="classification_name" minlength="3" pattern="^[a-zA-Z0-9äöüÄÖÜ_ ]*$" placeholder="Enter Classification Name" value="<%= locals.classification_name %>" required>
            <small>The classification name cannot contain a space or special character.</small>
            <button>Submit</button>
        </form>

        <div class="form-link"><a href="/inv" >Go back to the Vehicle Management page.</a></div>
    
    </div>
</div>

</section>



