<!-- Display page title -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
<% } %>

<!-- Flash message (if any) -->
<% if (messages && messages.length> 0) { %>
<div class="flash-message">
    <% messages.forEach(function(message){ %>
        <p>
            <%= message %>
        </p><br>
        <% }) %>
</div>
<% } %>

<!-- This is the main content to be displayed in the view -->
<section class="form-container">
    <h2>Please fill out the form</h2><hr>

    <form class="account-form" action="" method="POST">
        <fieldset>
            <legend>New Classification</legend>
            <div class="form-group">
                <label>Name
                    <input type="text" name="classification_name" minlength="3" pattern="^[a-zA-Z0-9äöüÄÖÜ_ ]*$" placeholder="Enter Classification Name" value="<%= locals.classification_name %>" required>
                </label>
                <small><i>The classification name cannot contain a space or special character.</i></small>
            </div>
        </fieldset>
        <button>Add to the Collection</button>
    </form>

    <p class="form-footer">
        <a href="/inv" >Go back to the Vehicle Management page.</a>
    </p>
</section>





