<!-- Display page title -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <!-- If no title available, then redirect to home page -->
<% } else { res.redirect('/') } %>

<!-- Flash message (if any) -->
<% if (messages && messages.length> 0) { %>
<div class="flash-message">
    <% messages.forEach(function(message){ %>
        <p>
            <%= message %>
        </p><br>
        <% }) %>
</div>
<% } %>



<section class="management-links">
<h2>Actions</h2>
<ul>
    <li class="action-link btn"
class="action-link btn">
    <a href="/inv/add-classification" >
        ➕ Add New Classification
    </a>
    </li>
    <li class="action-link btn"
class="action-link btn">
    <a href="/inv/add-inventory" >
        🧾 Add New Inventory Item
    </a>
    </li>
</ul>
</section>



