<!-- Check to see if a title variable exists -->
<% if (title) { %>
    <!-- if a title variable exists, then display it as an h1 -->
    <h1><%= title %></h1>
<% } else {
    // Otherwise, redirect the response obkect to the home view
    res.redirect('/')
} %>

<p><%- message %></p>

<%- errorContent %>
