<!-- Check to see if a title variable exists -->
<% if (title) { %>
<!-- if a title variable exists, then display it as an h1 -->
<h1>
    <%= title %>
</h1>
<% } else { %>
    <h1>Unexpected error</h1> 
<%} %>

<p><%- message %></p>

<%- errorContent %>
